*
{
    box-sizing: border-box;
    font-family: monospace;

    --ChineseBlack:                #151515;
    --BurntOrage:                  #D35100;
    --UniversityOfTennesseeOrange: #F07900;
    --RoyalOrange:                 #F8A145;
}

#main
{
    margin: 0;

    color: var(--BurntOrage);
    background-color: var(--ChineseBlack);
}

#navbar
{
    overflow: hidden;
    text-align: center;
}

.navBtn
{
    float: left;
    display: block;

    padding: 1% 1%;
    border: .15vh solid var(--UniversityOfTennesseeOrange);

    cursor: crosshair;
    font-weight: bold;
    font-size: large;
    transition: .2s ease-in-out;
}

.navBtn:hover
{
    border-radius: 2vh;

    background-color: white;
    color: black;
}

#content
{
    padding: 1% 1%;
    border-top: .2vh dashed var(--UniversityOfTennesseeOrange);
    border-bottom: .2vh dashed var(--UniversityOfTennesseeOrange);

    text-align: center;
}

#footer
{
    text-align: center;

    padding-top: 1%;
    padding-bottom: 3%;

    font-weight: bold;
    font-size: large;
}